logging:
  file: target/spring.log
management:
  endpoints:
    web:
      exposure:
        include: '*'

spring:
  application:
    name: kafka-streams-log-correlation

  kafka:
    streams:
      properties:
        default:
          key:
            serde: org.apache.kafka.common.serialization.Serdes$StringSerde
          value:
            serde: org.apache.kafka.common.serialization.Serdes$StringSerde

  zipkin:
    baseUrl: "http://localhost:9411/"
    sender:
      type: "web"
  sleuth:
    sampler:
      probability: "1.0"
